{% extends 'common.html' %}
{% block content %}
{% block header %}<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="">Akella</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
{% if request.user.is_authenticated %}
    <div class="collapse navbar-collapse" id="">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="main">Home <span class="sr-only">(current)</span></a>
      </li>
        <li class="nav-item active">
        <a class="nav-link" href="tth">Log out <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#" tabindex="-1" aria-disabled="true">ru/en</a>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
{% else %}
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
            </li>
            <li class="nav-item">
                <a class="nav-link" href="sign">login user</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="register">register</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Ничего не найдешь" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Не найти</button>
        </form>
    </div>
{% endif %}
</nav> {% endblock %}
<div class="row">
    <div class="col-1"></div>
    <div class="col-3">
        <img src="/static/img/{{ book.image }}" height="600px" style="margin-top: 100px">
        <div class="btn-group" style="margin-top: 50px; margin-left: 50px; width: 100px">
            <a type="button" class="btn-lg" href='add-cart?id={{book.id}}' >в корзину</a>
            <button type="button" class="btn-lg">купить</button>
        </div>
    </div>
    <div class="col-4">
        <h1 style="margin-top: 150px">{{ book.name }}</h1>
        <h2>{{ book.author }}</h2>
        <p>
            {{ book.long_description }}
        </p>
    </div>

</div>

{% endblock %}
