{% extends 'common.html' %}
{% block content %}
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="">Akella</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
{% if request.user.is_authenticated %}
    <div class="collapse navbar-collapse" id="">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="main">Home <span class="sr-only">(current)</span></a>
      </li>
        <li class="nav-item active">
        <a class="nav-link" href="tth">Log out <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#" tabindex="-1" aria-disabled="true">ru/en</a>
      </li>

    </ul>

  </div>
{% else %}
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
            </li>
            <li class="nav-item">
                <a class="nav-link" href="sign">login user</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="register">register</a>
            </li>
        </ul>

    </div>
{% endif %}
</nav>

<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Shotgun-book</h1>

    </div>

  </div>
<div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Статьи</h2>
        <p>Здесь написаны всякие статьи, наподобии информационного интернет - портала.</p>
        <p><a class="btn btn-secondary" href="sviston" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2>Картинки</h2>
        <p>Здесь хранятся картинки и гифки которые мне понравились. Их можно посмотреть и скачать.</p>
        <p><a class="btn btn-secondary" href="shop-gun" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2>Литература</h2>
        <p>Здесь книжный интернет магазин. Можно прочитать описание моих любимых книг, добавить их в корзину, и наверно даже можно будет заказать.</p>
        <p><a class="btn btn-secondary" href="shop-book" role="button">View details »</a></p>
      </div>
    </div>

    <hr>

  </div>

</main>

<footer class="container">
  <p>© Project for github</p>
</footer>

{% endblock %}
{% block title %} Shotgun-book {% endblock %}