{% extends 'common.html' %}
{% block content %}
{% load i18n %}
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">Akella</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
     <!-- <li class="nav-item">
        <a class="nav-link" href="sign">login user</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="register">register</a>
      </li>-->
        <li class="nav-item active">
        <a class="nav-link" href="tth">Log out <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#" tabindex="-1" aria-disabled="true">ru/en</a>
      </li>
      <!--<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>-->
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Shotgun-book</h1>
      <p>Здесь можно узнать о том, о чем можно узнать.</p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>{% trans "Свисто-перделки" %}</h2>
        <p>{% trans 'Здесь написаны всякие статьи, наподобии информационного интернет - портала.' %}</p>
        <p><a class="btn btn-secondary" href="sviston" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2>Оружие</h2>
        <p>Здесь хранятся картинки и гифки которые мне понравились. Их можно посмотреть и скачать.</p>
        <p><a class="btn btn-secondary" href="shop-gun" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2>Литература</h2>
        <p>Здесь книжный интернет магазин. Можно прочитать описание моих любимых книг, добавить их в корзину, и наверно даже можно будет заказать.</p>
        <p><a class="btn btn-secondary" href="shop-book" role="button">View details »</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>

<footer class="container">
  <p>© Progect for github</p>
  <p></p>
  <p>{{Kurs}}</p>
</footer>

{% endblock %}
{% block title %} Shotgun-book {% endblock %}l>