{% extends 'common.html' %}
{% block title %}register{% endblock %}
{% block content %}
<div class="row">
    <div class="col-5"></div>
    <div class="col-2">



    <form class="form-signin" method="post" action="plain_jain">
  <div class="text-center mb-4">
    <img class="mb-4" src="/static/img/2EdAfagkjKQ.jpg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">register на сайт</h1>
  </div>
  <div class="form-label-group">
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="" name="petya">
    <label for="inputEmail">Email address</label>
  </div>

  <div class="form-label-group">
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="" name="password">
    <label for="inputPassword">Password</label>
  </div>

  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  <p class="mt-5 mb-3 text-muted text-center">© 2017-2020</p>
</form>


    </div>
    <div class="col-5"></div>
</div>



{% endblock %}