{% extends 'common.html' %}

{% block title %}
свистоны
{% endblock %}

{% block content%}
<body>
    <div class="container">


  <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
      <nav class="navbar navbar-dark bg-dark">
  <p></p>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="htt">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="tth">log out</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">че ты хочешь?</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-md-0">
      <input class="form-control" type="text" placeholder="ничего" aria-label="Search">
    </form>
  </div>
</nav>
    <div class="col-md-6 px-0">
      <h1 class="display-5 font-italic">Это не для тебя сделано, и не для таких как ты.</h1>
      <p class="lead my-3">Что то не нравится? Вали отсюда, так понятно?</p>
      <p class="lead mb-0"><a id="45" href="#" class="text-white font-weight-bold">Continue reading...</a></p>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0">THIS WORLD IS YOURS</h3>
            <p></p>
          <p class="card-text mb-auto">Почему Тони Монтана был не прав?</p>
          <a href="Tony-Montana" class="stretched-link">Continue reading</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">

          <h3 class="mb-0">лебеди – от одного творца.</h3>
          <div class="mb-1 text-muted"></div>
          <p class="mb-auto">Некритичный протогонист</p>
          <a id="44" href="#" class="stretched-link">Continue reading</a>
        </div>

      </div>
    </div>
  </div>
</div>

<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">
      <h3 class="pb-4 mb-4 font-italic border-bottom">
        Досвидания
      </h3>

      <div class="blog-post">
        <h2 class="blog-post-title">Зачем?</h2>
        <p class="blog-post-meta">January 1, 2014 by <a href="#">Mark</a></p>

        <p>Зачем тебе раздел влога, если это никому не интересно?</p>
        <hr>
        <p>Если ты прочитал то, что написано в шапке и ничего не понял, то давай проясним.</p>
          <blockquote>
          <p>После посещения этого сайта тебе грозит 5 лет тюрьмы(На самом деле нет), так что давай без в@#бонов, ок?</p>
        </blockquote>
        <p>Да, возможно здесь будет продаваться оружие(На самом деле нет), но для того, чтобы вы не скучали, здесь будут выходить всякие интересные статеечки, которые придумает моя шизофрения.</p>


{% endblock %}