{% extends 'common.html' %}

{% block title %}
свистоны
{% endblock %}

{% block content%}
<body>
    <div class="container">


  <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
      <nav class="navbar navbar-dark bg-dark">
  <p></p>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="main">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="tth">log out</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-md-0">
      <input class="form-control" type="text" placeholder="ничего" aria-label="Search">
    </form>
  </div>
</nav>
    <div class="col-md-6 px-0">
      <h1 class="display-5 font-italic">Здесь будут интересные статьи</h1>
      <p class="lead my-3">...............</p>
      <p class="lead mb-0"><a id="45" href="#" class="text-white font-weight-bold">Continue reading...</a></p>
    </div>
  </div>

  <div class="row mb-2">
    {% for i in articles %}
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0">{{i.name}}</h3>
            <p></p>
          <p class="card-text mb-auto">{{i.clarification}}</p>
          <a href="{{i.href_view}}" class="stretched-link">Continue reading</a>
        </div>
      </div>
    </div>

     {%endfor%}
  </div>
</div>

<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">
      <h3 class="pb-4 mb-4 font-italic border-bottom">
        постскриптум
      </h3>

      <div class="blog-post">
        <h2 class="blog-post-title"></h2>
        <p class="blog-post-meta">January 1, 2014 by <a href="#">MarkII</a></p>

        <p></p>
        <hr>
        <p></p>
          <blockquote>
          <p></p>
        </blockquote>
        <p></p>


{% endblock %}